<!doctype html>
<html lang="pt-br">

  <head>

    <link rel="shortcut icon" type="image/x-icon" href="{$GET_TEMA}/images/favicon.ico">

    <title>Scheduler</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">


    <link rel="stylesheet" href="{$GET_TEMA}/fonts/icomoon/style.css">

    <link rel="stylesheet" href="{$GET_TEMA}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$GET_TEMA}/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="{$GET_TEMA}/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="{$GET_TEMA}/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{$GET_TEMA}/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="{$GET_TEMA}/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="{$GET_TEMA}/css/aos.css">
    <link rel="stylesheet" href="{$GET_TEMA}/css/calendario.css">
    <link rel="stylesheet" href="{$GET_TEMA}/css/scheduler.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="vCard template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{$GET_TEMA}/css/bootstrap-4.1.2/bootstrap.min.css">
    <link href="{$GET_TEMA}/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="plugins/mCustomScrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="{$GET_TEMA}/css/main_styles.css">
    <link rel="stylesheet" type="text/css" href="{$GET_TEMA}/css/responsive.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{$GET_TEMA}/css/style.css">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <!-- Inicio style letras -->

  <style>
     h1::after {
     content: '|';
     opacity: 1;
     margin-left: 5px;
     display: inline-block;
     animation: blink .9s infinite;
   }

   @keyframes blink {
     0%, 100% {
       opacity: 1;
     }
     50% {
       opacity: 0;
     }
   }
     </style>
     <!-- Fim style letras -->


  <div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
  </div>



    <header class="site-navbar site-navbar-target" role="banner">

      <div class="container mb-3">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto">
            <img style="margin-bottom: -25%; margin-top: -20%" src="{$GET_TEMA}/images/logo.png" alt="">
          </div>
          <div class="site-quick-contact d-none d-lg-flex ml-auto ">
            <div class="d-flex site-info align-items-center mr-5">
              <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
              <span>Praça Dom Bosco, 88 - Carmo, Barbacena - MG, <br> Brasil</span>
            </div>
            <div class="d-flex site-info align-items-center">
              <span class="block-icon mr-3"><span class="icon-clock-o"></span></span>
              <span>Segunda - Sexta | 8:00 - 18:00 <br> Sábado FECHADO</span>
            </div>
          </div>
        </div>

      </div>



    </header>

      <div class="ftco-blocks-cover-1">
        <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
       <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('{$GET_TEMA}/images/professor1.jpg')">
         <div class="container">
           <div class="row align-items-center ">

             <div class="col-md-5 mt-5 pt-5">
               <span class="text-cursive h5 text-red">Esse é seu cantinho!</span>
               <p></p>
               <h1 class="mb-4 font-weight-bold text-teal">Área do docente</h1>
               <!-- Início letrinhas -->
       <script>

           function typeWriter(elemento) {
           const textoArray = elemento.innerHTML.split('');
           elemento.innerHTML = ' ';
           textoArray.forEach((letra, i) => {
            setTimeout(() => elemento.innerHTML += letra, 90 * i);
           });
           setTimeout(typeWriter2(elemento), 4000)
         }

         const titulo = document.querySelector('h1');
         typeWriter(titulo);


         </script>
         <!-- Fim letrinhas -->
             </div>

           </div>
         </div>
       </div>
     </div>


     <div class="content_container">
      <div class="main_content_outer d-flex flex-xl-row flex-column align-items-start justify-content-start">

        <!-- General Information -->
        {foreach from=$PES item=p}
        <div class="general_info1 d-flex flex-xl-column flex-md-row flex-column tio">
          <div>
            <div class="general_info_image">
              <div class="background_image col-lg-12" style="background-image:url({$GET_TEMA}/{$p.pes_foto})"></div>
              <div class="header_button_2">
                <div class="d-flex flex-column align-items-center justify-content-center"><img src="{$GET_TEMA}/images/download.png" alt=""></div>
              </div>
            </div>
          </div>
          <div class="general_info_content infobox">
            <div class="general_info_content_inner mCustomScrollbar pessoainfo" data-mcs-theme="minimal-dark">
              <div class="general_info_title info pessoainfo">Seus Dados</div>
              <ul class="general_info_list">
                <li class="d-flex flex-row align-items-center justify-content-start">
                  <div class="general_info_icon d-flex flex-column align-items-start justify-content-center camposinfo"><img src="{$GET_TEMA}/images/icon_1.png" alt=""></div>
                  <div class="general_info_text camposinfo">Nome: <span class="fonte1"><br>{$p.pes_nome} {$p.pes_sobrenome}</span></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                  <div class="general_info_icon d-flex flex-column align-items-start justify-content-center camposinfo"><img src="{$GET_TEMA}/images/icon_6.png" alt=""></div>
                  <div class="general_info_text camposinfo">Data de Nascimento: <span class="fonte1"><br>{$p.pes_aniversario}</span></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                  <div class="general_info_icon d-flex flex-column align-items-start justify-content-center camposinfo"><img src="{$GET_TEMA}/images/icon_3.png" alt=""></div>
                  <div class="general_info_text camposinfo"><a href=""></a>{$p.pes_email}</div>
                </li>
                <li>
                <form class="form-inline my-2 my-lg-0 align-items-center justify-content-start">
                </form>
              </li>
              </ul>
              <form class="camposinfo" action="{$GET_LOGOUT}" method="post">
              <a href="{$GET_LOGOUT}"><button class="btn btn-outline-light my-2 my-sm-0" name="logout" type="submit">Sair</button></a>
              </form>
              <form class="camposinfo" action="index.html" method="post" sty>
              <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target=".bd-example-modal-lg">Criar um evento</button>
              </form>
              {/foreach}
              <!-- Social -->
            </div>
          </div>
        </div>

        <!-- Main Content -->
                <div class="col-md-9 filho">

                              <div class="month corp">
                                <div class="">
                                <ul class="nav" style="margin-top:-7.5%">
                                  {foreach from=$MES item=m}
                                  <li class="nav-item">
                                    <a class="nav-link  selecao" href="?mes_id={$m.mes_id}">{$m.mes_abreviacao}</a>
                                  </li>
                                  {/foreach}
                                  </ul>
                                  </div>
                                  <div style="margin-top: 6%">
                                  {foreach from=$MON item=m}
                                <ul>
                                  <li>
                                  {$m.mes_nome}
                                  </li>
                                  {/foreach}
                                </ul>
                                </div>
                              </div>

                            <ul class="weekdays">
                              {foreach from=$SEM item=s}
                              <li class="text-capitalize semana">
                              {$s.dia_nome}
                              </li>
                              {/foreach}
                            </ul>

                            <ul class="days">

                              {foreach from=$AGE item=a}
                              <li class="agenda{$a.age_info}">
                              {$a.age_dia}
                              <h2 class="info" align="center" style="color:black">{$a.age_info}
                              <br>{$a.age_materia}<label></label></h2>
                                  </li>
                              {/foreach}
                              <!-- Fim dos produtos -->

                              </div>
                              </div>
                              </div>
              	              </div>

            {foreach from=$PES item=p}
                <!-- Modal -->
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <!-- Inserir Informações no Calendário -->
                <div class="container1">
                  <div class="content1 first-content1">
                      <div class="first-column1" style="align:center">
                          <h2 class="title1 title-primary1">Bem vindo {$p.pes_nome} {$p.pes_sobrenome}!</h2>
                          <p class="description1 description-primary1">Altere o cronograma dos estudantes!</p>
                          <p class="description1 description-primary1">Adicione avaliações, simulados, trabalhos e tarefas de casa.</p>
                      </div>
                      <div class="second-column1" style="align:center;">
                          <img src="{$GET_TEMA}/images/logo.png" class="logo" alt="">
                          <form class="form" method="POST" action="{$SCHEDULER}">
                            <!-- Dia -->
                            <div class="col-auto my-1">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Dia</label>
                                <select name="dia" class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                                  <option selected>Selecione o dia</option>
                                  {foreach from=$AGE item=a}
                                  <option value="{$a.age_dia}">{$a.age_dia}</option>
                                  {/foreach}
                                </select>
                              </div>
                              <!-- Mês -->
                              <div class="col-auto my-1">
                                  <label class="mr-sm-2" for="inlineFormCustomSelect">Mês</label>
                                <select name="mes" class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                                  <option selected>Selecione o mês</option>
                                  {foreach from=$MES item=m}
                                  <option class="text-capitalize" value="{$m.mes_id}">{$m.mes_nome}</option>
                                  {/foreach}
                                </select>
                              </div>
                              <!-- Matéria -->
                            <div class="col-auto my-1">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Matéria</label>
                                <select name="materia" class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                                  <option selected>Selecione a matéria</option>
                                  <option value="Matematica">Matemática</option>
                                  <option value="Fisica">Física</option>
                                  <option value="Quimica">Química</option>
                                  <option value="Geografia">Geografia</option>
                                  <option value="Historia">História</option>
                                  <option value="Biologia">Biologia</option>
                                  <option value="Portugues">Português</option>
                                  <option value="Literatura">Literatura</option>
                                  <option value="Ingles">Inglês</option>
                                </select>
                              </div>
                              <!-- Evento -->
                              <div class="col-auto my-1">
                                  <label class="mr-sm-2" for="inlineFormCustomSelect">Evento</label>
                                  <select name="evento" class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                                    <option selected>Selecione o evento</option>
                                    <option value="AV1">AV1</option>
                                    <option value="AV2">AV2</option>
                                    <option value="Tarefa">Tarefa</option>
                                    <option value="Trabalho">Trabalho</option>
                                  </select>
                                </div>

                             <button align="center" href="" class="btn1 btn-second1" value="Logar" type="submit">Criar</button>
                          </form>
                      </div><!-- second column -->

                  </div><!-- first content -->
              </div>
                <!-- Fim modal -->
                </div>
                </div>
                </div>
                {/foreach}


  <div align='center'>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>

  <script src="{$GET_TEMA}/js/jquery-3.2.1.min.js"></script>
  <script src="{$GET_TEMA}/styles/bootstrap-4.1.2/popper.js"></script>
  <script src="{$GET_TEMA}/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
  <script src="{$GET_TEMA}/plugins/greensock/TweenMax.min.js"></script>
  <script src="{$GET_TEMA}/plugins/greensock/TimelineMax.min.js"></script>
  <script src="{$GET_TEMA}/plugins/scrollmagic/ScrollMagic.min.js"></script>
  <script src="{$GET_TEMA}/plugins/greensock/animation.gsap.min.js"></script>
  <script src="{$GET_TEMA}/plugins/greensock/ScrollToPlugin.min.js"></script>
  <script src="{$GET_TEMA}/plugins/progressbar/progressbar.js"></script>
  <script src="{$GET_TEMA}/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>
  <script src="{$GET_TEMA}/plugins/easing/easing.js"></script>
  <script src="{$GET_TEMA}/plugins/parallax-js-master/parallax.min.js"></script>
  <script src="{$GET_TEMA}/js/custom.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="js/app.js"></script>
  </body>
  </html>
